<!DOCTYPE html>
<html lang="fr">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Styles.Render("~/bundles/styles")
</head>
<body ng-app="annufal">
    <div class="container">
        <div class="row">
            <div class="pull-right">
                <login-form></login-form>
            </div>
        </div>
    </div>
    <ng-view></ng-view>

    @Scripts.Render("~/bundles/scripts")
</body>
</html>