<div class="container">
	<div class="row well">
		<h1 class="text-center">Nouveau compte</h1>
	</div>
	<div>
		<form name="registerForm" class="form col-sm-10 col-sm-offset-1">
			<div class="row">
				<div class="form-group col-sm-6">
					<label for="login" class="control-label">Login: </label>
					<input type="text" class="form-control" id="login" name="login" />
				</div>
			</div>
			<div class="row">
				<div class="form-group col-sm-6">
					<label for="password">Password: </label>
					<input type="password" class="form-control" id="password" name="password" />
				</div>
				<div class="form-group col-sm-6">
					<label for="confirmPassword">Password confirmation: </label>
					<input type="password" class="form-control" id="confirmPassword" name="confirmPassword" />
				</div>
			</div>
			<div class="row">
				<div class="form-group col-sm-6">
					<label for="prenom">Prenom: </label>
					<input type="text" class="form-control" id="prenom" name="prenom" />
				</div>
				<div class="form-group col-sm-6">
					<label for="nom">Nom: </label>
					<input type="text" class="form-control" id="nom" name="nom" />
				</div>
			</div>
			<div class="row">
				<div class="form-group col-sm-6">
					<label for="surnom">Surnom: </label>
					<input type="text" class="form-control" id="surnom" name="surnom" />
				</div>
			</div>
			<div class="row">
				<div class="form-group col-sm-6">
					<label for="dateBapteme">Date de bapteme: </label>
					<input type="text" class="form-control" id="dateBapteme" name="dateBapteme" />
				</div>
				<div class="form-group col-sm-6">
					<label for="villeBapteme">Ville de bapteme: </label>
					<input type="text" class="form-control" id="villeBapteme" name="villeBapteme" />
				</div>
			</div>
			<div class="row">
				<div class="form-group col-sm-6">
					<label for="parrain">Parrain: </label>
					<input type="text" class="form-control" id="parrain" name="parrain" />
				</div>
				<div class="form-group col-sm-6">
					<label for="marraine">Marraine: </label>
					<input type="text" class="form-control" id="marraine" name="marraine" />
				</div>
			</div>
			<div class="row">
				<div class="form-group col-sm-6">
					<label for="gmBapteme">GM de bapteme: </label>
					<input type="text" class="form-control" id="gmBapteme" name="gmBapteme" />
				</div>
				<div class="form-group col-sm-6">
					<label for="gcBapteme">GC de bapteme: </label>
					<input type="text" class="form-control" id="gcBapteme" name="gcBapteme" />
				</div>
			</div>
			<div class="row">
				<div class="form-group col-sm-6">
					<label for="villeActuelle">Ville actuelle: </label>
					<input type="text" class="form-control" id="villeActuelle" name="villeActuelle" />
				</div>
				<div class="form-group col-sm-2">
					<label for="etudiant">Etudiant: </label>
					<input type="checkbox" id="isEtudiant" name="isEtudiant" />
				</div>
				<div class="form-group col-sm-2">
					<label for="GM">GM: </label>
					<input type="checkbox" id="isGM" name="isGC" />
				</div>
				<div class="form-group col-sm-2">
					<label for="GM">GC: </label>
					<input type="checkbox" id="isGC" name="isGC" />
				</div>
			</div>
			<div class="row">
				<div class="form-group col-sm-6">
					<label for="tel">Tel: </label>
					<input type="text" class="form-control" id="tel" name="tel" />
				</div>
				<div class="form-group col-sm-6">
					<label for="mail">Email: </label>
					<input type="text" class="form-control" id="mail" name="mail" />
				</div>
			</div>
			<div class="row">
				<div class="form-group col-sm-4">
					<label for="facebook">Facebook: </label>
					<input type="text" class="form-control" id="facebook" name="facebook" />
				</div>
				<div class="form-group col-sm-4">
					<label for="linkedin">LinkedIn: </label>
					<input type="text" class="form-control" id="linkedin" name="linkedin" />
				</div>
				<div class="form-group col-sm-4">
					<label for="twitter">Twitter: </label>
					<input type="text" class="form-control" id="twitter" name="twitter" />
				</div>
			</div>
			<button type="submit" class="btn btn-default">OK</button>
		</form>
	</div>
</div>